.produtos {
    border: 1px solid #ffd7ab;
    border-radius: 8px;
    width: 250px;
    padding: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #a76640;
}

.produtos img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.produtos h3 {
    font-size: 18px;
    margin: 10px 0;
}

.produtos .preco {
    font-size: 20px;
    font-weight: bold;
    color: #2ecc71;
    margin: 8px 0;
}

.produtos .desc {
    font-size: 14px;
    color: black;
    margin-bottom: 12px;
}

.produtos button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.produtos button:hover {
    background: #2980b9;
}


.p2 {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    padding: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #9a5833;
}

.p2 img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.p2 h3 {
    font-size: 18px;
    margin: 10px 0;
}

.p2 .preco2 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin: 8px 0;
}

.p2 .desc2 {
    font-size: 14px;
    color: black;
    margin-bottom: 12px;
}

.p2 button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.p2 button:hover {
    background: #2980b9;
}

.p2,.produtos{
    display: inline-block;
    margin-right: 20px;
    vertical-align: 20px;

}
a {
    text-decoration: none;
   
}
.l1,.l2,.l3, .l4{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
   border: 1px solid #ccc;
}

.l1,.l2,.l3, .l4:hover{
    background-color: rgba(255, 174, 0, 0.993);
}
body{
    background-color: #e6b68b;
}

h1,h2{
    color: yellow;
}

h3{
    color: black;
}

span{
    color: #9a5833;
}